# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed



# Coverage directory used by tools like istanbul
coverage
.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
low-code/node_modules
low-code/node_modules/*
low-code/node_modules/*/** 

commonLib/node_modules
commonLib/node_modules/*
commonLib/node_modules/*/** 

commonLib/PropsJsonMeta
commonLib/PropsJsonMeta/*
commonLib/PropsJsonMeta/*/** 

commonLib/.wrangler

# OSX
.DS_Store


.idea
npm-debug.log.*

.codegpt

low-code/.wrangler
low-code/@mf-types
low-code/@mf-types/*/**
