.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(./images/attach-off-svgrepo-com.svg);
	background-position: center;
	background-size: 20%;
	background-repeat: no-repeat;
}
.title {
	position: absolute;
	bottom: 20%;
	text-align: center;
	width: 100%;
	color: #019376;
}
