.container {
	font-size: unset;
	line-height: unset;
	border-radius: 8px;
	border: 2px solid #232323;
	margin-top: 2px;
	margin-bottom: 2px;
	span,
	label {
		line-height: unset;
		height: unset;
		font-size: unset;
		display: unset;
		margin: unset;
	}
	.buttonContainer {
		height: 32px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		overflow: auto;

		.button {
			height: 25px;
			line-height: 25px;
			border-radius: 6px;
			padding: 0 8px;
			font-size: 12px;
			margin-left: 8px;
			background-color: #1b5d32;
			color: #fff;
		}
	}
	.ec {
		overflow: hidden;
		position: relative;
		.ecin {
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
}
